.container {
  max-width: 600px;
  text-align: center;
  display: block;
  margin: auto;
}

.container .main {
  margin: 20px 0;
}

.container .progress {
  margin-top: 20px;
}

.container .progress .item {
  text-align: left;
  margin: 10px 0;
}
